@{
    ViewBag.Title = "Dashboard";
}
<style>
    html {
        scroll-behavior: smooth;
    }
</style>
<div style="height: 50px;display:block;">

</div>

@Html.Action("HyphenBatchesStates", "SQLReports")




@*<div class="btn-group" role="group" aria-label="Basic example";top:45px;z-index: 99999;background: #FFFFFF;">


        <a class="btn btn-primary" href="#DepositMovement">Deposit Movements Per Month</a>
        <a class="btn btn-primary" href="#GetTopUnpaids">Unpaids per Month</a>

        <a class="btn btn-primary" href="#NoRunClients">No Run Clients</a>
        <a class="btn btn-primary" href="#CanceledClients">Canceled Clients</a>
        <a class="btn btn-primary" href="#inCancelation">In Cancelation Clients</a>
        <a class="btn btn-primary" href="#RetNotReleased">Retention Not Released</a>
        <a class="btn btn-primary" href="#PendingClients">Pending Clients</a>
        <a class="btn btn-primary" href="#ListOfPendingClient">List of Pending Clients</a>
        <a class="btn btn-primary" href="#DormantClients">Dormant Clients</a>
        <a class="btn btn-primary" href="#uManageCustomers">uManage Customers</a>
        <a class="btn btn-primary" href="#NoRetentionDeposit">No Deposits & Retentions</a>
        <a class="btn btn-primary" href="#NewClientByIndustryA">New Client By Industry</a>
        <a class="btn btn-primary" href="#NewClients">New Clients</a>
        <a class="btn btn-primary" href="#TransactionCodes">Transaction Codes</a>

        <a class="btn btn-primary" href="#ManagementFees">Management Fees</a>


    </div>*@

@*<button type="button" onclick="printJS('Report', 'html')">
        Print
    </button>*@
<div id="Report">




</div><!--/Report -->


@section scripts
{

    <script>
        $().ready(function () {

            $("#PrintThis").click(function () {
                $('#Report').printThis();
            });

        });

    </script>


    <script>

        $().ready(function () {


            function aJaxPost(action, myData, target) {
                $.ajax({
                    method: "POST",
                    url: action,
                    data: myData,
                    success: function (response) {
                        $(target).html(response);
                        // alert(response);
                        // alert(target + " Details saved successfully!!!");
                    },
                    error: function (xhr, ajaxOptions, thrownError) {
                        $(target).html(xhr.status);
                        //alert(xhr.status);
                        //alert(thrownError);
                    }
                });
            }







        });

    </script>


}
