@model ManagementDashboard.Models.SQLReportTableViewModel
@{
    ViewBag.Title = "Customer Blocked Processing";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="card card-primary">
    

    <div class="card-body">

        @Html.Raw(Model.HtmlTable)
    </div>
</div>