
@model List<ManagementDashboard.Models.NewClients>

<table class="table table-striped table-sm">
    <thead>
        <tr>
            <th>Ref</th>
            <th>Customer</th>
            <th>Start Date</th>
            
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Ref</td>
                <td>@item.Customer</td>
                <td>@item.StartDate.ToString("dd-MM-yyyy")</td>
             
            </tr>
        }
    </tbody>
</table>

