@model ManagementDashboard.Models.SQLReportTableViewModel
@{
    ViewBag.Title = "HyphenBatchesStates";
}


<div class="card card-primary">
    <div class="card-header">
        Hyphen Batches States
    </div>
    <div class="card-body">
        @Html.Raw(Model.HtmlTable)
    </div>
</div>
