@model List<ManagementDashboard.Models.HighestCustomerValue>

<table class="table table-condensed table-responsive table-striped table-sm">
    <thead>
        <tr>
            <th>Ref</th>
            <th>Count</th>
            <th>Value</th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Ref</td>
                <td>@item.Count</td>
                <td>@item.Value</td>
            </tr>
        }
    </tbody>
</table>

