
@model List<ManagementDashboard.Models.uManageCustomers>

<table class="table table-striped table-sm">
    <thead>
        <tr>
            <th>Ref</th>
            <th>Customer</th>
            <th>Number of Runs</th>
            <th>Total Records</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Ref</td>
                <td>@item.Customer</td>
                <td>@item.NoRuns</td>
                <td>@item.TotalRecords</td>
            </tr>
        }
    </tbody>
</table>
