@model ManagementDashboard.Models.SQLReportTableViewModel
@{
    ViewBag.Title = "ManagementPrediction";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card card-primary">
    <div class="card-header">
        Management Prediction
    </div>

    <div class="card">

        @Html.Raw(Model.HtmlTable)
    </div>
</div>