@model ManagementDashboard.Models.SQLReportTableViewModel
@{
    ViewBag.Title = "Customer ReferredBy";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card card-primary">
    <div class="card-header">
        Customer Referred By Count
    </div>


    <div class="card">

        @Html.Raw(Model.HtmlTable)
    </div>
</div>



