
@model ManagementDashboard.Models.SQLReportTableViewModel
@{
    ViewBag.Title = "Late Unpaids Credit Provided";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card card-primary">
    <div class="card-header">
        Late Unpaids Credit Provided
    </div>
    <div class="card">
        @Html.Raw(Model.HtmlTable)
    </div>
</div>
