@model ManagementDashboard.Models.SQLReportTableViewModel
@{
    ViewBag.Title = "LoadedGateway";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card card-primary">
    <div class="card-header">
        <h2>Customer Account Loaded At Gateway</h2>
    </div>


    <div class="card">

        @Html.Raw(Model.HtmlTable)
    </div>
</div>