@model ManagementDashboard.Models.SQLReportTableViewModel
@{
    ViewBag.Title = "RBR";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card card-primary">
    <div class="card-header">
        <h2>RBR</h2>
    </div>



    @Html.Raw(Model.HtmlTable)
</div>
